/*  your css code here. If applicable */
#yellow{
	border-top-style:solid;
	border-left-style:solid;
	border-right-style:solid;
	border-bottom-style:solid;
	border-top-width:1px;
	border-bottom-width:1px;
	border-left-width:1px;
	border-right-width:1px;
	
	border:solid green;
	background-color:yellow;
}
#red{
	border-top-style:solid;
	border-left-style:solid;
	border-right-style:solid;
	border-bottom-style:solid;
	background-color:red;
	border-top-width:1px;
	border-bottom-width:1px;
	border-left-width:1px;
	border-right-width:1px;
	border: solid black;
}
#green{
	border-top-style:solid;
	border-left-style:solid;
	border-right-style:solid;
	border-bottom-style:solid;
	background-color:green;
	border-top-width:1px;
	border-bottom-width:1px;
	border-left-width:1px;
	border-right-width:1px;
	border:solid yellow;
}